go 1.18

use (
	./example
	// The use directive tells Go that the module in the hello directory should be main modules when doing a build.
	// So in any subdirectory of workspace the module will be active.
	./hello
)
